WORKING A REAL PROJET WITH PYTHON ON " LONDON HOUSING DATASET"

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("/content/5. London Housing Data.csv")

In [ ]:
data.head(5)

In [ ]:
data.count()

In [ ]:
data.columns

In [ ]:
data.isnull().sum()

In [ ]:
sns.heatmap(data.isnull())
plt.show()

In [ ]:
#data types

Q)1. CONVERT THE DATATYPE OF "DATA" COLUM TO DATE-TIME-FORMAT

In [ ]:
#data types
#data.columns
data.dtypes

In [ ]:
data.date = pd.to_datetime(data.date)
data.head(2)

In [ ]:
data["year"] = data.date.dt.year

In [ ]:
data.head(2)

Q)2. ADD THE NEW COLUMN "YEAR" IN THE DATAFRAME, WHICH CONTAIN YEAR ONLY ?

In [ ]:
data["year"] = data.date.dt.year

Q)3. ADD THE NEW COLUMN "MONTH" AS A SECOND COLUMN IN THE DATAFRAME WHICH CONTAIN MONTH  ONLY.

In [ ]:
data.insert(2,"month", data.date.dt.month)
#data.insert(2,"month", data.date.dt.month_name)

Q)4. REMOVE THE COLUMN "YEAR" AND "MONTH" ONLY FROM THE DATAFRAME

In [ ]:
data.drop(["month","year"], axis = 1, inplace=True)

In [ ]:
data.head(2)

Q)5. SHOW ALL THE RECORDS WHERE "NO.OF CRIMES" IS 0 AND HOW MANY SUCH RECORDS ARE THERE ?

In [ ]:
data[data["no_of_crimes"] == 0]

In [ ]:
len(data[data["no_of_crimes"] == 0])

Q)6. WHAT IS MAXIMUM AND MANIMUM "AVERAGE_PRICE" OF PER YEAR IN ENGLAND

In [ ]:
data.columns

In [ ]:
data["average_price"].min()

In [ ]:
data["average_price"].max()

In [ ]:
data.columns

In [ ]:
df1 = data["area"] == "england"

In [ ]:
df2 = data["year"] = data.date.dt.year

In [ ]:
df2

In [ ]:
data.groupby("year").average_price.max()

In [ ]:
data.groupby("year").average_price.min()

Q)7. WHAT IS MAXIMUM AND MANIMUM NO.OF "CRIMES" RECORDED PER AREA

In [ ]:
data.groupby("area").no_of_crimes.max()

In [ ]:
data.groupby("area").no_of_crimes.min().sort_values(ascending =True)

Q)8. SHOW THE TOTAL COUNT OF RECORD OF EACH AREA , WHERE AVERAGE PRICE IS LESS THAN 100000 ?

In [ ]:
data[data["average_price"] < 100000]

In [ ]:
data[data["average_price"] < 100000].area.value_counts()